<div class="container">
    <div class="row">

        <table class=" table table-bordered ">
            <caption>List of users</caption>
            <thead>
                <tr>
                    <th scope="col ">#</th>
                    <th scope="col ">Name</th>
                    <th scope="col ">Email</th>

                    <th scope="col ">Mobile No.</th>
                    <th scope="col ">UserType</th>
                    <th scope="col ">Account Status</th>
                    <th scope="col ">action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of myUsers">
                    <th scope="row ">{{ user._id}}</th>
                    <th scope="row ">{{ user.name}}</th>
                    <td>{{ user.email }}</td>

                    <td>{{ user.mobileNo }}</td>
                    <td>{{ user.userType }}</td>
                    <td>{{ user.accountStatus}}</td>
                    <td class="space-between">
                        <a class="btn btn-primary" (click)="showUser(user._id)">show user</a>
                        <a class="btn btn-danger" (click)="deleteUser(user._id)">Delete</a>
                        <a class="btn btn-primary" (click)="activateStatus(user._id)">ActivateStatus</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>