<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6 ">
            <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)">
                <div class="row">
                    <div class="col-md-6">
                        <label>E-mail </label>
                        <input class="form-control" type="text" name="email" placeholder="E-mail" formControlName="email">
                        <div class="alert alert-danger" *ngIf="email?.invalid && (email?.touched)">
                            <p *ngIf="email?.errors?.required">required</p>
                            <p *ngIf="email?.errors?.email">email</p>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Password</label>
                        <input class="form-control" type="password" name="password" placeholder="Password" required formControlName="password">
                        <div class="alert alert-danger" *ngIf="password?.invalid && (password?.touched)">
                            <p *ngIf="password?.errors?.required">required</p>


                        </div>
                    </div>

                    <div class="col-md-12">
                        <button class="btn btn-danger">Login</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>