<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6 ">
            <form #addForm="ngForm" (ngSubmit)="addsize(addForm)">
                <div class="row">
                    <div class="col-md-6">
                        <label>Product Size</label>
                        <input class="form-control" type="text" name="size" placeholder="Product Size" [(ngModel)]="sizes.size" #size="ngModel">
                    </div>
                    <div class="col-md-6">
                        <label>No.Of Products in this Size</label>
                        <input class="form-control" type="number" name="number" placeholder="Number of products in this size" [(ngModel)]="sizes.number" #number="ngModel">
                    </div>
                    <div class=" col-md-12 ">
                        <button class="btn btn-danger ">add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>