<!-- Top bar Start -->
<div class="top-bar p-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <i class="fa fa-envelope"></i> support@email.com
            </div>
            <div class="col-sm-6">
                <i class="fa fa-phone-alt"></i> +012-345-6789
            </div>
        </div>
    </div>
</div>
<!-- Top bar End -->

<!-- Nav Bar Start -->
<div class="nav">
    <div class="container">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a routerLink="" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <a routerLink="" class="nav-item nav-link ">Home</a>
                    <a routerLink="product/allProduct" class="nav-item nav-link">Products</a>
                    <a routerLink="product/addedTocard" class="nav-item nav-link">Cart</a>
                    <a routerLink="user/profile" class="nav-item nav-link">Account</a>

                    <a routerLink="user/sendMessage" class="nav-item nav-link">Contact Us</a>
                    <div class="dropdown">
                        <a class="btn  text-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">More Pages</a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" routerLink="user/allUsers">Admin Dashboard</a></li>
                            <li><a class="dropdown-item" routerLink="supplier">supplier Dashboard</a></li>

                        </ul>
                    </div>
                </div>


                <div class="navbar-nav ml-auto">




                    <div class="dropdown">
                        <a class="btn text-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">User Account</a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" routerLink="user/login">Login</a></li>
                            <li><a class="dropdown-item" routerLink="user/register">Register</a></li>

                        </ul>
                    </div>



                    <a routerLink="user/logOut" (click)="logOut()" class="nav-item nav-link">logOut</a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Nav Bar End -->