<!-- Top bar Start -->
<div class="top-bar p-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <i class="fa fa-envelope"></i> support@email.com
            </div>
            <div class="col-sm-6">
                <i class="fa fa-phone-alt"></i> +012-345-6789
            </div>
        </div>
    </div>
</div>
<!-- Top bar End -->

<!-- Nav Bar Start -->
<div class="nav">
    <div class="container">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a routerLink="" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <a routerLink="" class="nav-item nav-link">Home</a>
                    <a routerLink="productlist" class="nav-item nav-link">Products</a>
                    <!-- <a routerLink="productdetails" class="nav-item nav-link">Product Detail</a> -->
                    <a routerLink="addtocard" class="nav-item nav-link">Cart</a>
                    <!-- <a routerLink="checkout" class="nav-item nav-link">Checkout</a> -->
                    <a routerLink="profile" class="nav-item nav-link">Account</a>
                    <a routerLink="admin" class="nav-item nav-link">Admin-Dashboard</a>
                    <a routerLink="supplier" class="nav-item nav-link">supplier-Dashboard</a>
                    <a routerLink="contact" class="nav-item nav-link">Contact Us</a>

                    <!-- <div class="nav-item dropdown">
                        <a routerLink="#" class="nav-link dropdown-toggle active" data-toggle="dropdown">More Pages</a>
                        <div class="dropdown-menu">
                            <a routerLink="admin" class="dropdown-item active">Account</a>
                            <a routerLink="admin" class="dropdown-item active">Admin-Dash</a>
                            <a routerLink="supplier" class="dropdown-item active">supplier-Dash</a>
                            <a routerLink="contact" class="dropdown-item">Contact Us</a>
                        </div>
                    </div> -->
                </div>
                <div class="navbar-nav ml-auto">


                    <a routerLink="login" class="nav-item nav-link">Login</a>
                    <a routerLink="register" class="nav-item nav-link">Register</a>
                    <a routerLink="log-out" class="nav-item nav-link">logOut</a>


                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Nav Bar End -->
