<!-- Featured Product Start -->
<div class="featured-product product">
    <div class="container">
        <div class="section-header">
            <h1>Featured Product</h1>
        </div>
        <div class="row align-items-center product-slider product-slider-4">
            <!-- start the list of product -->
            <div class="col-md-3" *ngFor="let product of myProducts">
                <div class="product-item">
                    <div class="product-title">
                        <a class="btn" (click)="details(product._id)">{{ product.name }}</a>

                    </div>
                    <div class=" product-image ">
                        <a routerLink="product/allProduct ">
                            <img [src]="product.productImage " alt="Product Image ">
                        </a>
                        <div class="product-action ">
                            <a class="btn " (click)="addTocard(product._id) "><i class="fa fa-cart-plus "></i></a>

                            <a class="btn " (click)="details(product._id)"><i class=" fa fa-search "></i></a>
                        </div>
                    </div>
                    <div class="product-price ">
                        <h3><span>$</span>{{ product.productPrice }}</h3>
                        <a class="btn " (click)="addTocard(product._id) "><i class="fa fa-shopping-cart "></i>Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of loop on all products  -->




    </div>
</div>

<!-- Featured Product End -->