<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-lg-6">
            <li> UserName:</li>
        </div>
        <div class="col-lg-6">
            <li>UserEmail:</li>
        </div>
        <div class="col-lg-6">
            <li>UserMobileNo.:</li>
        </div>
        <div class="col-lg-6">
            <li> UserType:</li>
        </div>
        <div class="col-lg-6">
            <li> UserAddresses:</li>
        </div>
        <div class="col-lg-6">
            <li> AccountStatus:</li>
        </div>
        <div class="col-lg-6">
            <li> contactMessages:</li>
        </div>
        <!-- ha3ml check 3ala el userType if admin msh ha3rd 7aga tany ,if customer ha3rd 7agat el Customer
      ,if supplier ha3rd 7agat el supplier .UsingSwitch Case -->

        <div class="col-lg-6">
            <li> customerCreditCard:</li>
        </div>
        <div class="col-lg-6">
            <li> customerExpMonth:</li>
        </div>
        <div class="col-lg-6">
            <li> customerExpYr:</li>
        </div>

        <div class="col-lg-6">
            <li> supplierCompanyName:</li>>
        </div>
        <div class="col-lg-6">
            <li> supplierCompanyFax:</li>
        </div>
        <div class="col-lg-6">
            <li> supplierCompanyURL:</li>
        </div>


    </div>
</div>