<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-lg-6">
            <li> UserName:{{ userData.name}}</li>
        </div>
        <div class="col-lg-6">
            <li>UserEmail:{{ userData.email }}</li>
        </div>
        <div class="col-lg-6">
            <li>UserMobileNo.:{{ userData.mobileNo }}</li>
        </div>
        <div class="col-lg-6">
            <li> UserType:{{ userData.userType }}</li>
        </div>
        <div class="col-lg-6">
            <li> UserAddresses:{{ userData.Addresses}}</li>
        </div>
        <div class="col-lg-6">
            <li> AccountStatus:{{ userData.accountStatus}}</li>
        </div>
        <div class="col-lg-6">
            <li> contactMessages:{{ userData.contactMessages }}</li>
        </div>


        <div class="col-lg-6">
            <li> customerCreditCard:{{ userData.customerCreditCard }}</li>
        </div>
        <div class="col-lg-6">
            <li> customerExpMonth:{{ userData.customerExpMonth }}</li>
        </div>
        <div class="col-lg-6">
            <li> customerExpYr:{{ userData.customerExpYr }}</li>
        </div>
        <div class="col-lg-6">
            <li>proccess Order:{{userData.proccessedOrder}}</li>

        </div>
        <div class="col-lg-6">
            <li> supplierCompanyName:{{ userData.supplierCompanyName }}</li>
        </div>
        <div class="col-lg-6">
            <li> supplierCompanyFax:{{ userData.supplierCompanyFax }}</li>
        </div>
        <div class="col-lg-6">
            <li> supplierCompanyURL:{{ userData.supplierCompanyURL}}</li>
        </div>


    </div>
</div>