<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6 ">
            <form #addForm="ngForm" (ngSubmit)="addCat(addForm)">
                <div class="row">
                    <div class="col-md-6">
                        <label> Category Name</label>
                        <input class="form-control" type="text" name="catName" [(ngModel)]="category.catName" #catName="ngModel" placeholder="Category Name">
                    </div>


                    <div class="col-md-12">
                        <button class="btn btn-danger">add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>