<div class="container ">

    <div class="row">

        <form #editForm="ngForm" (ngSubmit)="editProfile(editForm)">
            <div class=" mb-3">
                <label>User Name</label>
                <input type="text " class="form-control" [value]="userData.name" name="name" [(ngModel)]="userData.name" #name="ngModel">

            </div>
            <div class="mb-3 ">
                <label>User Email</label>
                <input type="text" class="form-control" [value]="userData.email" name="email" [(ngModel)]="userData.email" #email="ngModel">
            </div>
            <div class="mb-3 ">
                <label>User Mobile Number</label>
                <input type="text" class="form-control " [value]="userData.mobileNo" placeholder="mobile no " name="mobileNo" [(ngModel)]="userData.mobileNo" #mobileNo="ngModel">
            </div>
            <div class="mb-3 ">
                <label>User Company Name </label>
                <input type="text " class="form-control" [value]="userData.supplierCompanyName" placeholder="supplier Company Name" name="supplierCompanyName" [(ngModel)]="userData.supplierCompanyName" #supplierCompanyName="ngModel">
            </div>
            <div class="mb-3 ">
                <label>User Company Fax</label>
                <input type="text" class="form-control" [value]="userData.supplierCompanyFax" placeholder="supplierCompanyFax" name="supplierCompanyFax" [(ngModel)]="userData.supplierCompanyFax" #supplierCompanyFax="ngModel">
            </div>
            <div class="mb-3 ">
                <label>User Company URL</label>
                <input type="text " class="form-control" [value]="userData.supplierCompanyURL" placeholder="supplierCompanyURL" name="supplierCompanyURL" [(ngModel)]="userData.supplierCompanyURL" #supplierCompanyURL="ngModel">
            </div>
            <div class="mb-3 ">
                <label>User Credit Card</label>
                <input type="text " class="form-control" [value]="userData.customerCreditCard" placeholder="customerCreditCard" name="customerCreditCard" [(ngModel)]="userData.customerCreditCard" #customerCreditCard="ngModel">
            </div>
            <div class="mb-3 ">
                <label>User Exp Month Card</label>
                <input type="number" class="form-control" [value]="userData.customerExpMonth" placeholder="ustomerExpMonth" name="customerExpMonth" [(ngModel)]="userData.customerExpMonth" #customerExpMonth="ngModel">
            </div>
            <div class="mb-3 ">
                <label>User Exp Year Card</label>
                <input type="number" class="form-control" [value]="userData.customerExpYr" placeholder="customerExpYr" name="customerExpYr" [(ngModel)]="userData.customerExpYr" #customerExpYr="ngModel">
            </div>

            <div>
                <button class="btn btn-primary ">Submit</button>
            </div>

        </form>

    </div>
</div>