<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6 ">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <label>Review</label>
                        <input class="form-control" type="text" name="content" placeholder="Review Content">
                    </div>
                    <div class="col-md-6">
                        <label>Review Rating</label>
                        <input class="form-control" type="number" name="rating" placeholder="Review Rating">
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-danger">add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>