<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="alert alert-primary">
                {{registerForm.value|json}}<br> isValid:{{ registerForm.valid }}<br> is inValid:{{ registerForm.invalid }}<br> submitted:{{ registerForm.submitted }}<br> touched:{{ registerForm.touched }}<br>




            </div>
            <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)">
                <div class="row">
                    <div class="col-md-6">
                        <label>Name</label>
                        <input class="form-control" type="text" placeholder="Name" required minlenghth="5" maxlength="15" name="name" [(ngModel)]="userData.name" #name="ngModel">
                        <div class="alert alert-danger" *ngIf="name.invalid && (name.touched||registerForm.submitted||name.dirty)">
                            <p *ngIf="name.errors?.required">required</p>
                            <p *ngIf="name.errors?.minlength">min length</p>
                            <p *ngIf="name.errors?.maxlength">max length</p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label>E-mail</label>

                        <input class="form-control" type="text" placeholder="E-mail" required name="email" ngModel #email="ngModel">
                        <div class="alert alert-danger" *ngIf="email.invalid && (email.touched||registerForm.submitted)">
                            <p *ngIf="email.errors?.required">required</p>
                            <p *ngIf="email.errors?.email">email</p>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Mobile No</label>
                        <input class="form-control" type="text" placeholder="Mobile No" required name="mobileNo" [(ngModel)]="userData.mobileNo" #mobileNo="ngModel">
                    </div>
                    <div class="col-md-6">
                        <label>Password</label>
                        <input class="form-control" type="text" placeholder="Password" required name="password" [(ngModel)]="userData.password" #password="ngModel">
                    </div>
                    <div class="col-md-6">
                        <label>UserType if admin or customer or supplier </label>
                        <input class="form-control" type="text" placeholder="userType" required name="userType" [(ngModel)]="userData.userType" #userType="ngModel">
                    </div>

                    <div class="col-md-12">
                        <button class="btn">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>