<div class="container">



    <div class="row">
        <a class="btn btn-danger" (click)="addProduct()">Add Product </a>
    </div>
    <div class="row">

        <table class=" table table-bordered ">
            <caption>List of Users</caption>
            <thead>
                <tr>
                    <th scope="col ">#</th>
                    <th scope="col ">Name</th>
                    <th scope="col ">Email</th>
                    <th scope="col ">Mobile No.</th>

                    <th scope="col ">User Type</th>

                    <th scope="col ">proccessed Order</th>
                    <th scope="col ">Order </th>


                    <th scope="col ">action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of myUsers;let i =index">
                    <th scope="row ">{{ i+1}}</th>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.mobileNo }}</td>

                    <td>{{ user.userType }}</td>
                    <!-- i do not need the account status because any user cann't order without true account status -->

                    <td>{{ user.proccessedOrder}}</td>
                    <td *ngIf="user.proccessedOrder == true, else elseblock">
                        <a class="btn btn-primary">Show Order</a>

                    </td>
                    <ng-template #elseblock>
                        <td>No orders</td>
                    </ng-template>


                    <td class="space-between">
                        <a class="btn btn-warning mx-2 my-2" (click)="submitOrder(user._id)">SubmitOrder</a>
                        <a class="btn btn-danger mx-2 my-2" (click)="showUser(user._id,user.userType)">show user</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="row">

        <table class=" table table-bordered ">
            <caption>List of Products</caption>
            <thead>
                <tr>
                    <th scope="col ">#</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of myProducts; let i =index">
                    <th>{{ i+1 }}</th>
                    <td>{{ product.name }}</td>
                    <td>{{ product.productPrice }}</td>
                    <td>
                        <img [src]="product.productImage">
                    </td>
                    <td>
                        <a class="btn btn-warning mx-2 my-2" (click)="addSize(product._id)">Add Sizes </a>
                        <a class="btn btn-warning mx-2 my-2" (click)="addCat(product._id)">Add Category </a>
                        <a class="btn btn-warning mx-2 my-2" (click)="addBrand(product._id)">Add Brand </a>
                        <a class="btn btn-warning mx-2 my-2" (click)="addColors(product._id)">Add Colors</a>
                        <a class="btn btn-warning mx-2 my-2" (click)="addPImage(product._id)">Add Product Image </a>
                        <a class="btn btn-warning mx-2 my-2" (click)="showProduct(product._id)">show product</a>
                        <a class="btn btn-danger mx-2 my-2" (click)="editProduct(product._id)">edit product</a>
                        <a class="btn btn-danger mx-2 my-2" (click)="deleteProduct(product._id,i)">delete product</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>